.form--headerLabel{
    display: block;
}

.header{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin:0;
    padding:0;
}

.imgSlider{
    object-fit:cover;
    width: 100%;
    
 
}

.suscribe--header{
    padding: 3vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;    
    background-color: aqua;
    align-self: center;
    bottom: 3vh;;
}

.suscribe--header form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider--button {
    position: relative;
    
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    background-color: #ffffff;
    /*color: var(--bg-secondary);*/
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0 5px 5px black;
  } 

  .button__left {
    position: absolute;
    left: 0;
  }
  
  .button__rigth {
    margin:auto auto;
    position: absolute;
    right: 0;
  }

  .slider--button:active {
    transform: scale(0.7);
  }

  @media (min-width:768px) and (max-width:1024px){

  }

  @media (min-width:320px) and (max-width:425px){
    .header{
        top: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        margin:0;
        padding:0;
    }

    .imgSlider{
        height: 100vh;
        object-fit: none;
        
     
    }



  }